* {
  padding: 0;
  margin: 0;
}
html{
    background-color: #eee7c4;
    width: 100%;
}
body{
    
}
/* header section */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
.container {
  position: relative;
}
.outer-nav{
    width: 100%;
    background-color: #b18669;
    padding-bottom: 15px;
}
.nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding-top: 20px;
}
.logo {
  width: 70px;
  border-radius: 50%;
}
.talk {
  margin-top: 5px;
  width: 100px;
  height: 45px;
  align-self: flex-end;
  border-radius: 15px 0 15px 0;
  border-width: 0.5px;
  background-color: #2e3e64;
  color: #fff;
  transition: width 1s ease-in;
}
.team-section-title{
    text-align: center;
    color: #2e3e64;
    opacity: 0.6;
    font-size: 1.8rem;
    margin: 22px auto;
}
.talk:hover {
  width: 150px;
  background-color: #612896;
}
.header-content {
    margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content .title {
  color: #111735;
  font-size: 3.5rem;
  margin: 15px;
}
.header-content p {
  line-height: 1.4;
  margin-bottom: 15px;
}
.header-content .para-1 {
  text-align: center;
  font-size: 1.8rem;
}
.header-content .para-2 {
  width: 80%;
  align-items: center;
  font-size: 1.4rem;
}

/* end header section */

.team-section{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    background-color: transparent;
    width: 40%;
    height: 300px;
    text-align: center;
    margin-bottom: 3rem;

}
.flip{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
    border-radius: 10px 15%;


}
.card:hover .flip{
    transform: rotateY(180deg);
}
.front-card ,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px 15%;

}
.front-card{
    background-color: #bbb;
    color: black;
}
.back{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #b18669;
    color: #091f4d;
    border-radius: 10px 15%;
    transform: rotateY(180deg);
}
.link{
    margin: 10px;
}

.card-image{
    width: 100%;
    border-radius: 10px 15%;
    height: 100%;
}

/* form style section */

.data-form {
  display: flex;
  width: 80%;
  margin: 40px auto;
  justify-content: space-around;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact .p-one {
  font-size: 2rem;
  color: #091f4d;
  width: 50%;
  text-align: left;
}

.contact .email {
  font-size: 20px;
  margin-top: 15px;
}

.email span {
  color:#091f4d;
}

.contact .p-three {
  font-size: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33.3vh;
}

textarea {
  resize: none;
  width: 300px;
  height: 35%;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  border-width: 0.5px;
}

.name {
  padding: 5px;
  width: 300px;
  height: 20px;
  border-radius: 10px 0 10px 0;
  border-width: 0.5px;
}

.e-mail {
  padding: 5px;
  width: 300px;
  height: 20px;
  border-radius: 10px 0 10px 0;
  border-width: 0.5px;
}

.sent {
  width: 80%;
  height: 30px;
  align-self: center;
  border-radius: 5px 0 5px 0;
  border-width: 0.5px;
  background-color: #2e3e64;
  color: #fff;
  transition: width 0.5s ease-in;
}

.sent:hover {
  width: 100%;
  background-color: #612896;
}
::placeholder {
  color: #8b8383;
}

@media screen and (max-width: 600px) {
  .data-form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .sent {
    align-self: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact .p-three {
    font-size: 20px;
    margin: 0 0 0 30px;
    text-align: center;
  }
  .team-section{
    flex-direction: column;
}
.card{
    width:80%;
}

.card:active .flip{
    transform: rotateY(180deg);
}

}


/* form style section */
